.flex-wrapper {
    display: flex;
    align-items: center;
}

.flex-wrapper-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-wrapper-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}